*{
    font-size:0;
}
body{
    height:100vh;
    width:100vh;
}
.parent{
    background-color:yellow;
    border: green 1px solid;
    height:50%;
    width: 50%;
    position:relative;
    display:inline-block;
}
.divExpandSm{
    z-index:10;
    -webkit-animation-name: divExpandSmAnimate;
    -webkit-animation-duration: .3s;
    -webkit-animation-iteration-count: 7;
}
.divExpandLg {
    z-index: 10;
    -webkit-animation-name: divExpandLgAnimate;
    -webkit-animation-duration: .15s;
    -webkit-animation-iteration-count: 14;
}
.divSpin {
    z-index:10;
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: .3s;
    -webkit-animation-iteration-count: 7;
}
@-webkit-keyframes spinnerRotate {
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes divExpandLgAnimate
{
    from{-webkit-transform:scale(2,2);}
    to{-webkit-transform:scale(6,6);}
}
@-webkit-keyframes divExpandSmAnimate
{
    from{-webkit-transform:scale(1,1);}
    to{-webkit-transform:scale(3,3);}
}
.picture{
    background-image: url("../practice01/img/harry_potter.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height:90%;
    width:90%;
    background-color: lightblue;
    position:absolute;
    z-index:1;
}
.pictureBack{
    background-image: url("../practice01/img/card_back.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height:90%;
    width:90%;
    background-color: lightblue;
    position:absolute;
    z-index:1;
}
.cloud, .cloudSm{
    height:30%;
    width:30%;
    background-image :url( "../practice01/img/smoke6.png");
    background-size:cover;
    position:relative;
    display:inline-block;

}
/*.cloudSpin{*/
    /*height:50%;*/
    /*width:50%;*/
    /*background-image :url( "../practice01/img/smoke6.png");*/
    /*background-size:cover;*/
    /*position:relative;*/
    /*display:inline-block;*/
/*}*/

